

<div class="container-fluid">

    <nav class="navbar navbar-light" style="background-color: #ff9b44;;">
        <h3>Dreamguy's Technologies <span class="search pl-3">Search</span></h3>
    </nav>

    <!-- <header>
        
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple ">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span>Total orders</span>
                    </a>
    
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-lock fa-fw me-3"></i><span>Password</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-chart-line fa-fw me-3"></i><span>Total Profit</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span>Team</span>
                    </a>
    
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-globe fa-fw me-3"></i><span>International</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-building fa-fw me-3"></i><span>Partners</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                            class="fas fa-money-bill fa-fw me-3"></i><span>Account</span></a>
                </div>
            </div>
        </nav>
    </header>  -->


    <div class="navbar2 mt-4">
        <h2>User Job Dashboard</h2>
        <h5>Dashboard / Jobs / User Dashboard / User Dashboard</h5>
    </div>

    <nav class="navbar navbar-light bg-light mt-4">
        <a class="navbar-brand" href="#">All</a>
        <a class="navbar-brand" href="#">Saved</a>
        <a class="navbar-brand" href="#">Applied</a>
        <a class="navbar-brand" href="#">Interviewing</a>
        <a class="navbar-brand" href="#">Offered</a>
        <a class="navbar-brand" href="#">Visited</a>
        <a class="navbar-brand" href="#">Archived</a>
    </nav>

    
    <!-- <div class="boxes1 mt-4">
        <div class="box1">110 Offered</div>
        <div class="box1">40 Applied</div>
        <div class="box1">374 Visited</div>
        <div class="box1">220 Saved</div>
      </div> -->

      <div class="row mt-5">
        <div class="col">
            <div class="box1">110 Offered</div>
        </div>
        <div class="col">
            <div class="box1">40 Applied</div>
        </div>
        <div class="col">
            <div class="box1">374 Visited</div>
    </div>
        <div class="col">
            <div class="box1">220 Saved</div>
        </div>
    </div>


      <!-- <div class="boxes2 mt-4">
        <div class="box2">Overview</div>
        <div class="box2">Latest Jobs</div>
      </div> -->

      <div class="row mt-5">
        <div class="col">
            <div class="box2">Overview</div>
        </div>

        <div class="col">
            <div class="box2">Latest Jobs</div>
        </div>
      </div>


      <!-- <div class="boxes3 mt-4">
        <div class="box3">Offered Jobs</div>
      </div> -->

      <div class="row mt-5">
        <div class="col">
            <div class="box3">Offered Jobs</div>
        </div>
      </div>

      <!-- <div class="boxes4">
          <div class="box4">Applied Jobs</div>
        </div> -->

        <div class="row mt-5">
            <div class="col">
                <div class="box4">Applied Jobs</div>
            </div>
        </div>

</div>